# **AIN 214 - PA1 - FALL 2025**

**Student ID** : 2240765020

**Name-Surname**   : Sude Gündüz

**Deadline: 3.11.2025 (23:59:59)**

**Submission:** Submit your Jupyter Notebooks via https://submit.cs.hacettepe.edu.tr/

# **Necessary Imports**

In [1]:
# Import required libraries
import pandas as pd 
import sqlite3

# **Notes:**

* Use pandas dataframe (df) to load the data.

* Use numpy or pandas operations for the requested tasks unless otherwise specified.

* You can insert more cells if it is necessary.

# **PART 1: Flight Delays and Cancellations Dataset**

The US Department of Transportation's Bureau of Transportation.

**Dataset Path: "datasets/flights_dataset/*.csv"**

- `flights.csv` contains the flight information

| Variable   | Description                                          |
|------------|------------------------------------------------------|
| `year`, `month`, `day` | The time information of the flight |
| `dep_time`   | Departure time (in the format hhmm) where`NA` corresponds to a cancelled flight        |
| `sched_dep_time`    | Scheduled departure time                        |
| `dep_delay`  | Departure delay, in minutes (negative for early)    |
| `arr_time`  | Arrival time    |
| `sched_arr_time`  | Scheduled arrival time    |
| `arr_delay`  | Arrival delay, in minutes (negative for early)    |
| `carrier`  | Carrier/airline code    |
| `tailnum`  | Tail number of the plane    |
| `origin`     | Origin airport where flight starts (IATA code)
| `airline`    | Carrier/airline name                        |
| `dest`       | Destination airport where flight lands (IATA code)  |
| `air_time`    | The duration of flight (on air)                       |
| `distance`    | The distance between origin and destination airports (miles)                        |
| `hour`, `minute`, `time_hour`    | Time information of the flight                       

- `flights_weather.csv` contains the same flight information as well as weather conditions such as

| Variable   | Description                                           |
|------------|-------------------------------------------------------|
| `visib`      | Visibility (in miles)                                 |
| `wind_gust`  | Wind gust speed (in mph)

### Load & Inspect the Data (15 pts)

Load `flights.csv` as `flights_df` and `flights_weather.csv` as `weather_df` by using pandas DataFrame. (2 pts)

In [2]:
# Load the data
flights_df = pd.read_csv("datasets/flights_dataset/flights.csv") 
weather_df = pd.read_csv("datasets/flights_dataset/flights_weather.csv")

Show the first and the last five rows of the datasets. (4 pts)

In [3]:
# flights_df
print(flights_df.head())
print(flights_df.tail())

   year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
0  2022      1    1       1.0            2359        2.0     604.0
1  2022      1    1       1.0            2250       71.0     242.0
2  2022      1    1      10.0            2355       15.0     759.0
3  2022      1    1      25.0            2350       35.0     606.0
4  2022      1    1      35.0            2349       46.0     616.0

   sched_arr_time  arr_delay carrier  flight tailnum origin dest  air_time  \
0             618      -14.0      UA     555  N405UA    SEA  IAH     221.0
1             142       60.0      AS      72  N265AK    SEA  FAI     193.0
2             730       29.0      AS     270  N274AK    SEA  ATL     261.0
3             550       16.0      AS       7  N281AK    SEA  ORD     193.0
4             545       31.0      UA     507  N426UA    PDX  ORD     196.0

   distance  hour  minute             time_hour                airline
0      1874    23      59  2022-01-01T23:00:00Z  United Air Lines Inc.
1      1533    22      50  2022-01-01T22:00:00Z   Alaska Airlines Inc.
2      2182    23      55  2022-01-01T23:00:00Z   Alaska Airlines Inc.
3      1721    23      50  2022-01-01T23:00:00Z   Alaska Airlines Inc.
4      1739    23      49  2022-01-01T23:00:00Z  United Air Lines Inc.
        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
111371  2022      6   30       NaN            1155        NaN       NaN
111372  2022      6   30       NaN            1448        NaN       NaN
111373  2022      6   30       NaN            1751        NaN       NaN
111374  2022      6   30       NaN            1145        NaN       NaN
111375  2022      6   30       NaN             720        NaN       NaN

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
111371            2033        NaN      UA     206     NaN    SEA  EWR
111372            1732        NaN      DL     323   N3759    SEA  LAX
111373            2352        NaN      DL     377  N898DN    SEA  ORD
111374            2029        NaN      DL     114  N876DN    SEA  JFK
111375            1544        NaN      DL     168  N814DN    SEA  BOS

        air_time  distance  hour  minute             time_hour  \
111371       NaN      2402    11      55  2022-06-30T11:00:00Z
111372       NaN       954    14      48  2022-06-30T14:00:00Z
111373       NaN      1721    17      51  2022-06-30T17:00:00Z
111374       NaN      2422    11      45  2022-06-30T11:00:00Z
111375       NaN      2496     7      20  2022-06-30T07:00:00Z

                      airline
111371  United Air Lines Inc.
111372   Delta Air Lines Inc.
111373   Delta Air Lines Inc.
111374   Delta Air Lines Inc.
111375   Delta Air Lines Inc.

In [4]:
# weather
print(weather_df.head())
print(weather_df.tail())

   year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
0  2022      1    1       1.0            2359        2.0     604.0
1  2022      1    1       1.0            2250       71.0     242.0
2  2022      1    1      10.0            2355       15.0     759.0
3  2022      1    1      25.0            2350       35.0     606.0
4  2022      1    1      35.0            2349       46.0     616.0

   sched_arr_time  arr_delay carrier  ...    route  temp  dewp  humid  \
0             618      -14.0      UA  ...  SEA-IAH  33.0  23.0  66.06
1             142       60.0      AS  ...  SEA-FAI  32.0  23.0  69.04
2             730       29.0      AS  ...  SEA-ATL  33.0  23.0  66.06
3             550       16.0      AS  ...  SEA-ORD  33.0  23.0  66.06
4             545       31.0      UA  ...  PDX-ORD  33.0  19.0  55.75

   wind_dir  wind_speed  wind_gust  precip pressure visib
0     160.0     8.05546   9.270062     0.0   1022.9  10.0
1     170.0     9.20624  10.594357     0.0   1023.4  10.0
2     160.0     8.05546   9.270062     0.0   1022.9  10.0
3     160.0     8.05546   9.270062     0.0   1022.9  10.0
4     120.0     6.90468   7.945768     0.0   1025.1  10.0

[5 rows x 29 columns]
        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
111001  2022      6   30       NaN            1155        NaN       NaN
111002  2022      6   30       NaN            1448        NaN       NaN
111003  2022      6   30       NaN            1751        NaN       NaN
111004  2022      6   30       NaN            1145        NaN       NaN
111005  2022      6   30       NaN             720        NaN       NaN

        sched_arr_time  arr_delay carrier  ...    route  temp  dewp  humid  \
111001            2033        NaN      UA  ...  SEA-EWR  56.0  51.0  83.88
111002            1732        NaN      DL  ...  SEA-LAX  60.0  53.0  77.65
111003            2352        NaN      DL  ...  SEA-ORD  65.0  53.0  65.56
111004            2029        NaN      DL  ...  SEA-JFK  56.0  51.0  83.88
111005            1544        NaN      DL  ...  SEA-BOS  56.0  50.0  80.52

        wind_dir  wind_speed  wind_gust  precip pressure visib
111001      30.0     9.20624  10.594357     0.0   1021.5  10.0
111002      20.0     6.90468   7.945768     0.0   1021.9  10.0
111003     280.0     6.90468   7.945768     0.0   1021.3  10.0
111004      30.0     9.20624  10.594357     0.0   1021.5  10.0
111005     350.0     5.75390   6.621473     0.0   1021.8  10.0

[5 rows x 29 columns]

How many records(rows) exists on each dataset? Use print function for the answer. (2 pts)

In [5]:
# Show the number of records (rows) in each dataset.
print(len(flights_df))
print(len(weather_df))

111376
111006

What are the column types? Print columns and their datatypes. (2 pts)

In [6]:
# Show the data types for columns
print(flights_df.dtypes)
print(weather_df.dtypes)

year                int64
month               int64
day                 int64
dep_time          float64
sched_dep_time      int64
dep_delay         float64
arr_time          float64
sched_arr_time      int64
arr_delay         float64
carrier            object
flight              int64
tailnum            object
origin             object
dest               object
air_time          float64
distance            int64
hour                int64
minute              int64
time_hour          object
airline            object
dtype: object
year                int64
month               int64
day                 int64
dep_time          float64
sched_dep_time      int64
dep_delay         float64
arr_time          float64
sched_arr_time      int64
arr_delay         float64
carrier            object
flight              int64
tailnum            object
origin             object
dest               object
air_time          float64
distance            int64
hour                int64
minute              int64
airline            object
route              object
temp              float64
dewp              float64
humid             float64
wind_dir          float64
wind_speed        float64
wind_gust         float64
precip            float64
pressure          float64
visib             float64
dtype: object

Compute a missing value summary (count and %) per column for each dataset. (3 pts)

In [7]:
# Print the summary
nan_count = flights_df.isna().sum()
total_values = flights_df.shape[0]
nan_percentage = (nan_count/total_values)*100
print(nan_count,nan_percentage)

year                 0
month                0
day                  0
dep_time          2445
sched_dep_time       0
dep_delay         2445
arr_time          2542
sched_arr_time       0
arr_delay         2679
carrier              0
flight               0
tailnum            129
origin               0
dest                 0
air_time          2679
distance             0
hour                 0
minute               0
time_hour            0
airline              0
dtype: int64 year              0.000000
month             0.000000
day               0.000000
dep_time          2.195266
sched_dep_time    0.000000
dep_delay         2.195266
arr_time          2.282359
sched_arr_time    0.000000
arr_delay         2.405366
carrier           0.000000
flight            0.000000
tailnum           0.115824
origin            0.000000
dest              0.000000
air_time          2.405366
distance          0.000000
hour              0.000000
minute            0.000000
time_hour         0.000000
airline           0.000000
dtype: float64

Identify likely key columns for a potential merging between two datasets. (2 pts)

In [8]:
# Answer here
# For a potential merging using year, month and day columns for the exact date along with the flight column would be a good choice.
# Because these columns are unique for each flight.

### Data Exploration and Analysis (35 pts)

**Note:** You can create new columns, merge datasets or perform any other operations in this stage.

How many different airlines has flight records in the flights dataset? (2 pts)

In [9]:
# Answer the question above
print(flights_df["airline"].value_counts().shape[0])

12

Calculate the mean, min, max and std of the departure delay times. (Column: `dep_delay`) (2 pts)

In [10]:
# Answer the question above
print("mean: ", flights_df["dep_delay"].mean())
print("min: ", flights_df["dep_delay"].min())
print("max: ", flights_df["dep_delay"].max())
print("std: ", flights_df["dep_delay"].std())

mean:  8.036674592173027
min:  -36.0
max:  2120.0
std:  41.65103180286552

Compute the summary statistics for weather columns. (`temperature`, `wind_speed`, `precipitation`) (2 pts)

In [11]:
# Answer the question above
print(weather_df["temp"].describe())
print(weather_df["wind_speed"].describe())
print(weather_df["precip"].describe())

count    111006.000000
mean         48.155538
std           9.363201
min          21.900000
25%          42.000000
50%          47.000000
75%          54.000000
max          99.000000
Name: temp, dtype: float64
count    110727.000000
mean          6.995307
std           4.507431
min           0.000000
25%           4.603120
50%           6.904680
75%           9.206240
max          27.618720
Name: wind_speed, dtype: float64
count    111006.000000
mean          0.005774
std           0.022099
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           0.320000
Name: precip, dtype: float64

How many flights are delayed more than 15 minutes? Report count and the percentage. (3 pts)

In [12]:
# Answer the question above
count = (flights_df["dep_delay"]>15).sum()
print("count: ",count)
total_count = flights_df["dep_delay"].count()
percentage = (count/total_values)*100
print("percentage:", percentage)

count:  17539
percentage: 15.74755782215199

How many flights are cancelled in the dataset? (3 pts)

In [13]:
# Answer the question above
print(flights_df["dep_time"].isna().sum())

2445

Report top 5 airlines has the most cancellation by count and percantage seperately. (3 pts)

In [14]:
# Answer the question above

cancelled_flights = flights_df[flights_df["dep_time"].isna()]
cancelled_by_airline = cancelled_flights.groupby("airline").size()
sorted_flights=cancelled_by_airline.sort_values(ascending=False)
print(sorted_flights.head())

airline
Alaska Airlines Inc.      1300
Delta Air Lines Inc.       383
Horizon Air                238
SkyWest Airlines Inc.      165
Southwest Airlines Co.     100
dtype: int64

In [15]:
# Answer the question above
total_flights = flights_df.groupby("airline").size()
percentage = (cancelled_by_airline/total_flights)*100
sorted_percentage = percentage.sort_values(ascending=False)
print(sorted_percentage.head())

airline
Allegiant Air             6.122449
JetBlue Airways           4.881657
Spirit Air Lines          4.513889
Alaska Airlines Inc.      3.108932
Frontier Airlines Inc.    2.631579
dtype: float64

Which airline has the highest departure delay average? And what is the average delay for the airline? (3 pts)

In [16]:
# Answer the question above
grouped_by_airline = flights_df.groupby("airline")["dep_delay"].mean()
max_airline = grouped_by_airline.idxmax()
max_avg_delay = grouped_by_airline.max()
print("airline: ",max_airline)
print("avearge delay: ",max_avg_delay)

airline:  JetBlue Airways
avearge delay:  42.14152410575428

Which routes has the most cancelled flights? Report top 10 routes and the number of cancelled flights. (Note: A route is "[origin]-[dest]". For example PDX-BUR) (4 pts)

In [17]:
# Answer the question above
cancelled_flights = weather_df[weather_df["dep_time"].isna()]
cancelled_by_route = cancelled_flights.groupby("route").size()
sorted_flights=cancelled_by_route.sort_values(ascending=False)
print(sorted_flights.head(10))

route
SEA-LAX    93
SEA-ANC    78
SEA-LAS    73
SEA-SFO    73
SEA-PDX    71
SEA-JFK    70
PDX-SEA    68
SEA-DEN    66
SEA-ORD    63
SEA-PHX    60
dtype: int64

Which route has the highest average departure delay time? Report top 10 routes with the average departure delay times. (3 pts)

In [18]:
# Answer the question above
grouped_by_route = weather_df.groupby("route")["dep_delay"].mean()
max_route = grouped_by_route.idxmax()
print("route with the highest average departure delay time: ",max_route)
sorted_flights=grouped_by_route.sort_values(ascending=False)
print(sorted_flights.head(10))

route with the highest average departure delay time:  PDX-DSM
route
PDX-DSM    35.782609
PDX-GRR    35.739130
SEA-MIA    29.916667
PDX-FLL    28.043478
SEA-CLT    27.313199
PDX-STL    27.000000
PDX-BOS    25.015748
PDX-DFW    24.888889
PDX-DAL    24.100000
PDX-JFK    21.957565
Name: dep_delay, dtype: float64

Compare mean departure delay between rainy and non-rainy flights. (5 pts)

Tip: Check `precip` column in weather dataset

In [19]:
# Answer the question above
weather_df["is_rainy"] = weather_df["precip"]>0
rainy_flights = weather_df.groupby("is_rainy")["dep_delay"].mean()
print(rainy_flights)
if rainy_flights[True]>rainy_flights[False]:
    print("Flights are more delayed on rainy days.")
else:
    print("Flights are more delayed on non-rainy days.")

is_rainy
False     7.424000
True     10.030635
Name: dep_delay, dtype: float64
Flights are more delayed on rainy days.

Compare mean departure delay between wind condition. Consider 10 mile per hour or more wind gust is considered as windy. (5 pts)

In [20]:
# Answer the question above
weather_df["is_windy"] = weather_df["wind_gust"]>=10
windy_flights = weather_df.groupby("is_windy")["dep_delay"].mean()
print(windy_flights)
if windy_flights[True]>windy_flights[False]:
    print("Flights are more delayed on windy days.")
else:
    print("Flights are more delayed on non-windy days.")

is_windy
False    7.514552
True     9.216318
Name: dep_delay, dtype: float64
Flights are more delayed on windy days.

# **PART- 2**

**SQL Questions**

**You must use sqlite3 library for SQL operations**

**Dataset Url: https://www.kaggle.com/datasets/ayeshaimran123/foodpanda-order-and-delivery-trends**


The Foodpanda Order & Delivery Trends dataset contains information about customer orders made through the Foodpanda application. It includes details such as customer information, order status, restaurant data, ratings, payment methods, and more.

Dataset description

# Tables

## 1. Customer Table

| Column          | Type    | Key         | Description                                                                                              |
|-----------------|---------|-------------|----------------------------------------------------------------------------------------------------------|
| customer_id     | TEXT    | PRIMARY KEY | Unique identifier for each customer                                                                      |
| gender          | TEXT    |             | Gender of the customer                                                                                   |
| age_group       | TEXT    |             | Categorizes customers into broad age-based segments                                                      |
| city            | TEXT    |             | Indicates the city where customer resides                                                                |
| signup_date     | TEXT    |             | Represents the date when the customers created their account on Foodpanda platform                       |
| order_frequency | INTEGER |             | nIdicates how frequently customer places orders                                                          |
| last_order_date | TEXT    |             | Date of last order                                                                                       |
| loyalty_points  | INTEGER |             | Represents the reward points earned by a customer                                                        |
| churned         | TEXT    |             | nIdicates whether customer has stopped using the Foodpanda platform after a certain period of inactivity |



## 2. Order Table

| Column          | Type    | Key     | Description                                                                                                                                                |
| --------------- | ------- | ------- | ---------------------------------------------------------------------------------------------------------------------------------------------------------- |
| order_id        | TEXT    | PRIMARY | Unique identifier for orders                                                                                                                               |
| customer_id     | TEXT    | FOREIGN | Unique identifier for customers                                                                                                                            |
| restaurant_id   | INTEGER | FOREIGN | Unique identifier for restaurants                                                                                                                          |
| order_date      | TEXT    |         | Date of order                                                                                                                                              |
| dish_name       | TEXT    |         | Indicates the type of the food item ordered by the customer                                                                                                |
| category        | TEXT    |         | Represents the cusine of the ordered dish                                                                                                                  |
| quantity        | INTEGER |         | Indicates the number of units of a particular dish ordered by the customer in a single order                                                               |
| price           | REAL    |         | Represents the total cost of the ordered dish                                                                                                              |
| payment_method  | TEXT    |         | Specifies the method used by the customer to pay for the order                                                                                             |
| rating          | INTEGER |         | Indicates the numerical rating (usually on a scale such as 1–5) given by the customer to evaluate their satisfaction with the order or delivery experience |
| rating_date     | TEXT    |         | Represents the date when the customer submitted their rating or review for the order                                                                       |
| delivery_status | TEXT    |         | Describes the final status of the order’s delivery process                                                                                                 |


## 3. Restaurant Table

| Column          | Type    | Key     | Description                        |
|-----------------|---------|---------|------------------------------------|
| restaurant_id   | INTEGER | PRIMARY | Unique indetifiers for restaurants |
| restaurant_name | TEXT    |         | Name of the restaurant             |

**Dataset path: Data/Foodpanda Analysis Dataset.csv**

In this section, you will work with the Foodpanda Order & Delivery Trends dataset, which stores information about orders made on the Foodpanda platform. You are required to read the dataset from a CSV file, build a relational database, and write code to answer the following questions. When creating the database, you must follow the table schema described above.

# Questions (50p)

1. Read the csv file and create database. (10p)
2. Find the top 3 restaurants with the highest total revenue. (revenue = quantity x price) (5p)
3. Calculate the total quantity of dishes sold by category for each restaurant. (5p)
4. List the top 5 customer with highest total spending (also show total spending value) (5p)
5. Find the average rating for each restaurant. (5p)
6. Check for duplicate orders (same customer_id+restaurant_id+order_date). (5p)
7. Find the percentage of orders by delivery status. (7p)
8. Analyze whether specific cities contribute a significantly larger portion to the total revenue compared to others. (8p)

In [21]:
#1
df = pd.read_csv("Data/Foodpanda Analysis Dataset.csv")
conn = sqlite3.connect("all.db")
conn.execute("PRAGMA foreign_keys = ON;")
cur = conn.cursor()

cur.executescript("""
CREATE TABLE IF NOT EXISTS Customers(
    customer_id TEXT,
    gender TEXT,
    age_group TEXT,
    city TEXT,
    signup_date TEXT,
    order_frequency INTEGER,
    last_order_date TEXT,
    loyalty_points INTEGER,
    churned TEXT,
    PRIMARY KEY(customer_id)
);

CREATE TABLE IF NOT EXISTS Restaurants(
    restaurant_id INTEGER,
    restaurant_name TEXT,
    PRIMARY KEY(restaurant_id)
);

CREATE TABLE IF NOT EXISTS Orders(
    order_id TEXT,
    customer_id TEXT,
    restaurant_id INTEGER,
    order_date TEXT,
    dish_name TEXT,
    category TEXT,
    quantity INTEGER,
    price REAL,
    payment_method TEXT,
    rating INTEGER,
    rating_date TEXT,
    delivery_status TEXT,
    PRIMARY KEY(order_id),
    FOREIGN KEY (customer_id) REFERENCES Customer(customer_id),
    FOREIGN KEY (restaurant_id) REFERENCES Restaurant(restaurant_id)
);
""")

restaurant_names = df["restaurant_name"].drop_duplicates().tolist()
restaurants={}
i=1
for name in restaurant_names:
    restaurants[name]=i
    i+=1
df["restaurant_id"] = df["restaurant_name"].map(restaurants)

customer_table=list(df[["customer_id", "gender", "age", "city", "signup_date",
    "order_frequency", "last_order_date", "loyalty_points", "churned"]].itertuples(index=False, name=None))

cur.executemany("""
INSERT OR IGNORE INTO Customers (
    customer_id, gender, age_group, city, signup_date,
    order_frequency, last_order_date, loyalty_points, churned
) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
""", customer_table)

restaurant_table = list(df[["restaurant_id", "restaurant_name"]].itertuples(index=False, name=None))

cur.executemany("""
INSERT OR IGNORE INTO Restaurants (restaurant_id, restaurant_name) VALUES (?, ?)
""", restaurant_table)

order_table = list(df[[
    "order_id", "customer_id", "restaurant_id", "order_date", 
    "dish_name", "category", "quantity", "price", 
    "payment_method", "rating", "rating_date", "delivery_status"
]].itertuples(index=False, name=None))

cur.executemany("""
INSERT OR IGNORE INTO Orders (
    order_id, customer_id, restaurant_id, order_date, 
    dish_name, category, quantity, price, 
    payment_method, rating, rating_date, delivery_status
) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
""", order_table)

conn.commit()

In [22]:
#2
cur.execute("""
SELECT restaurant_name, SUM(quantity*price) AS revenue
FROM Orders o, Restaurants r
WHERE o.restaurant_id = r.restaurant_id
GROUP BY r.restaurant_name
ORDER BY revenue DESC
LIMIT 3
            """)
rows = cur.fetchall()
for row in rows:
    print(row)

('Pizza Hut', 3002380.5900000036)
('Subway', 2998014.270000005)
('KFC', 2954233.449999999)

In [23]:
#3
cur.execute("""
SELECT restaurant_name, category, SUM(quantity) AS total_quantity
FROM Orders o
JOIN Restaurants r 
    ON o.restaurant_id = r.restaurant_id
GROUP BY r.restaurant_name, o.category
            """)
rows = cur.fetchall()
for row in rows:
    print(row)

('Burger King', 'Chinese', 649)
('Burger King', 'Continental', 689)
('Burger King', 'Dessert', 658)
('Burger King', 'Fast Food', 799)
('Burger King', 'Italian', 681)
('KFC', 'Chinese', 754)
('KFC', 'Continental', 757)
('KFC', 'Dessert', 641)
('KFC', 'Fast Food', 747)
('KFC', 'Italian', 735)
("McDonald's", 'Chinese', 658)
("McDonald's", 'Continental', 665)
("McDonald's", 'Dessert', 651)
("McDonald's", 'Fast Food', 686)
("McDonald's", 'Italian', 699)
('Pizza Hut', 'Chinese', 801)
('Pizza Hut', 'Continental', 803)
('Pizza Hut', 'Dessert', 746)
('Pizza Hut', 'Fast Food', 638)
('Pizza Hut', 'Italian', 738)
('Subway', 'Chinese', 705)
('Subway', 'Continental', 730)
('Subway', 'Dessert', 715)
('Subway', 'Fast Food', 746)
('Subway', 'Italian', 859)

In [24]:
#4
cur.execute("""
SELECT c.customer_id,  SUM(quantity*price) AS total_spending
FROM Orders o
JOIN Customers c
    ON o.customer_id = c.customer_id
GROUP BY c.customer_id
ORDER BY total_spending DESC
LIMIT 5
            
            """)
rows = cur.fetchall()
for row in rows:
    print(row)

('C3134', 7496.849999999999)
('C2515', 7495.05)
('C6021', 7494.650000000001)
('C2857', 7493.6)
('C3320', 7491.799999999999)

In [25]:
#5
cur.execute("""
SELECT restaurant_name, AVG(rating)
FROM Orders o
JOIN Restaurants r 
    ON o.restaurant_id = r.restaurant_id
GROUP BY r.restaurant_id
            """)
rows = cur.fetchall()
for row in rows:
    print(row)

("McDonald's", 3.0026292725679227)
('KFC', 2.974673202614379)
('Pizza Hut', 2.9493464052287583)
('Subway', 3.0873015873015874)
('Burger King', 2.9661164205039094)

In [26]:
#6
cur.execute(""" 
SELECT customer_id, restaurant_id, order_date, COUNT(*)
FROM Orders
GROUP BY customer_id, restaurant_id, order_date
HAVING COUNT(*)>1
""")
rows = cur.fetchall()
for row in rows:
    print(row)

In [27]:
#7
cur.execute(""" 
SELECT delivery_status, COUNT(*) * 100 / (SELECT COUNT(*) FROM Orders) AS percentage
FROM Orders
GROUP BY delivery_status
""")
rows = cur.fetchall()
for row in rows:
    print(row)

('Cancelled', 32)
('Delayed', 32)
('Delivered', 34)

In [28]:
#8
cur.execute("""
SELECT c.city, SUM(quantity*price) AS total_revenue, SUM(quantity*price) * 100 / (SELECT SUM(quantity*price) FROM Orders)
FROM Orders o
JOIN Customers c
    ON o.customer_id = c.customer_id
GROUP BY city
ORDER BY total_revenue DESC        
            """)
rows = cur.fetchall()
for row in rows:
    print(row)
conn.close()

('Multan', 3052313.7999999975, 21.27950717333175)
('Lahore', 2916372.349999998, 20.331777925956168)
('Peshawar', 2906686.380000001, 20.26425122929227)
('Islamabad', 2835310.270000003, 19.766645627682937)
('Karachi', 2633229.2800000007, 18.357818043736938)

# PLAGIARISM

All work on assignments must be done individually. You are encouraged to discuss the given assignments with your classmates, but these discussions should be carried out in an abstract way. That is, discussions related to a particular solution to a specific probem (either in actual code or in pseudocode) will not be tolerated. In short, turning in someone else’s work (including work available on the internet), in whole or in part, as your own will be considered as a violation of academic integrity. Please note that the former conditions also hold for the material attained using AI tools, including ChatGPT, GitHub Copilot, etc.